$Green_200 : hsl(148, 38%, 91%);
$Green_600 : hsl(169, 82%, 27%);
$Red: hsl(0, 66%, 54%);
$White: hsl(0, 0%, 100%);
$Grey_500 : hsl(186, 15%, 59%);
$Grey_900 : hsl(187, 24%, 22%);

@font-face {
    font-family: 'karla';
    src: url(assets/fonts/Karla-VariableFont_wght.ttf);
}

*{
    margin: 0;
}

body{
    background-color: $Green_200;
    color: $Grey_900;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    font-family: 'karla';
    font-size: 16px;
}

form{
    background-color: $White;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    padding: 1.5rem;
    width: 40rem;

    p{
        font-weight: 600;
        font-size: 1.5rem;
    }

    .error{
        color: $Red;
        font-size: .8rem;
        margin-top: .4rem;
    }

    span{
        color: $Green_600;
    }

    .section1{
        display: flex;
        gap: .7rem;

        .name{
            display: flex;
            flex-direction: column;
            width: 100%;

            input[type="text"]{
                flex-grow: 1;
                height: 2.2rem;
                border-radius: 5px;
                border: 1px solid $Grey_900;
                margin-top: .4rem;
                padding-left: 1rem;
                
                
                &:hover{
                    border: 1px solid $Green_600;
                    cursor: pointer;
                }
            }
        }
    }

    .section2{
        display: flex;
        flex-direction: column;

        #emailInput{
            flex-grow: 1; 
            height: 2.2rem;
            border-radius: 5px;
            border: 1px solid $Grey_900;
            margin-top: .4rem;
            padding-left: 1rem;
            
            &:hover{
                border: 1px solid $Green_600;
                cursor: pointer;
            }
        }
    }

    .section3{
        display: flex;
        flex-direction: column;

        .radio{
            display: flex;
            gap: .7rem;
            width: 100%;

            .parentDiv{
                display: flex;
                align-items: center;
                gap: .7rem;
                padding-left: 1rem;
                height: 2.2rem;
                flex-grow: 1;
                margin-top: .4rem;               
                border-radius: 5px;
                border: 1px solid $Grey_900;

                img{
                    position: absolute;
                    width: 13px;
                    height: 13px;
                }

                input[type="radio"]{
                    z-index: 1; 
                    cursor: pointer;
                    accent-color: $Green_600;
                }

                input[type="radio"]:checked + img{
                    z-index: 2;
                }
            }

            .parentDiv:has(input[type="radio"]:checked){
                background-color: $Green_200;
            }
        }
    }

    .section4{
        display: flex;
        flex-direction: column;

        textarea{
            margin-top: .4rem;               
            height: 4rem;
            border-radius: 5px;
            padding: 1rem;

            &:hover{
                border: 1px solid $Green_600;
                cursor: pointer;
            }
        }
    }

    .section5{
        display: flex;
        align-items: center;
        gap: .9rem;
        cursor: pointer;
        width: 24rem;
        margin: .5rem 0;

        input[type="checkbox"]{
            opacity : 0;
            z-index: 1;
            cursor: pointer;
        }

        .checkmark{
            position: absolute;
            width: .8rem;
            height: .8rem;
            border: 1px solid $Grey_500;
            z-index: 0;
        }

        .checkmarkImg{
            display: none;
            position: absolute;
            width: 14px;
            height: 14px;
        }
    }

    input[type="button"]{
        background-color: $Green_600;
        color: $White;
        border: none;
        border-radius: 5px;
        height: 2.5rem;
        font-family: 'karla';

        &:hover{
            cursor: pointer;
            background-color: hsl(169, 82%, 13%);
        }
    }

    .checkError{
        margin-top: -1rem;
    }
}

.popup{
    position: absolute;
    display: none;
    flex-direction: column;
    gap: .5rem;
    background-color: $Grey_900;
    color: $White;
    padding: 1.5rem;
    border-radius: 8px;
    font-weight: 200;
    top: -7rem;
    animation-name: popup;
    animation-fill-mode: forwards;
    animation-duration: 5s;

    div{
        display: flex;
        gap: .5rem;
        font-weight: 400;
    }
}

@keyframes popup {
    0%{
        top: -7rem;
    }

    40%{
        top: 1rem;
    }

    60%{
        top: 1rem;
    }

    100%{
        top: -7rem;
    }
}
